* {
    padding: 0;
    margin: 0;
}

body {
    background-color: lightgray;
}

canvas {
    background: #eee;
    display: block;
    margin: 0 auto;
    border: 10px ridge black;
}

h1 {
    text-align: center;
    color: white;
    padding: 20px;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

.col-1 {
    grid-column: 1;
}

.col-2 {
    grid-column: 1;
}